<%- include('templates/header.ejs'); %>


<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
        <h1><%= message %></h1>
        <img style="margin-left: 40%;" src="../images/browser.png">
        
	<!-- //main -->
</body>
<%- include('templates/footer.ejs'); %>




