<%- include('../templates/header.ejs'); %>


	<body>
		<!-- main -->
		<div class="main-w3layouts wrapper animated fadeInDownBig">
			<h1>Add Doctor/Employee</h1>
			<div class="main-agileinfo">
				<div class="agileits-top">
					<form action="/it" method="post">
						<%if (typeof msg != 'undefined'){%>
							<div style="font-size: 30px;" class="alert alert-danger">
								<div class="container">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="material-icons">clear</i></span>
									</button>
									<span><%=msg%></span>
								</div>
							</div>
						<%}%>
						
						<select onchange="UserChanged()" class="select email" name="UserType" id="user">
							<option value="Doctor">Doctor</option>
							<option value="Employee">Employee</option>
						</select>

						<div>

							<input class="number" type="number" name="SSN" placeholder="SSN" required="" minlength="14" maxlength="14">
							<input class="text" type="text" name="FirstName" placeholder="First Name" required="">
							<input class="text" type="text" name="Minit" placeholder="Minit" required="">
							<input class="text email" type="text" name="LastName" placeholder="Last Name" required="">
							<input class="text email" type="email" name="email" placeholder="Email" required="">
							<input class="text" id="password" type="password" name="password" placeholder="Password" required="" 
							onchange='check_pass();'>
							<input class="text w3lpass" onchange='check_pass();' type="password" id="confirmpassword" name="ConfirmPassword" placeholder="Confirm Password"
								required="">


							<select class="select email" name="Gender" id="">
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>


							<input class="text" type="number" minlength="11" maxlength="11" name="PhoneNo" id=""
								placeholder="Phone Number" required="">

							<input style="margin-top: 5px;" type="number" name="age" id="age" placeholder="Age" required="">




							<input class="text" type="text" name="Address" placeholder="Address" required="">
						</div>

				<input type="submit" value="ADD">
				</form>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© Blood Bank </p>
		</div>

		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		</div>
		<!-- //main -->
	</body>
	<%- include('../templates/footer.ejs'); %>