  
<%-include('../templates/header')-%>

<body>
  <div class="container-fluid dd all">
    <div class="row">
      <div class="col-6 p-5">
        <img class="hpimg" style="width: fit-content;" src="../../images/bloodPoint.png" alt="">
      </div>
      <div class="col-6 p-5">
        <h1 style="color: white;">Blood Bank</h1>

        <h1>
            Help Us Save Lives!                        
        </h1>
        <p>
          Now you can make a blood donation request in less than <strong>5</strong> minutes.
        </p>
        <p>
          Now you can make a blood request in less than <strong>5</strong> minutes for individuals and organizations.
        </p>
        <a href="/register"><button class="btn but">Register</button></a>
        <a href="/login"> <button class="btn but-2">Log In</button></a>
      </div>
    </div>
  </div>
  <%-include('../templates/footer')-%>