<%- include('../templates/header.ejs'); %>


<body>
    <nav style="margin:0;" class="navbar navbar-expand-lg navbar-dark bg-trans">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
          aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <a style="width: 1%;" href="/Notif"><img style="width: 100%;" src="../../images/notification.png"></a>
          <img style="width: 1%;margin-left: 2%;" src="../../images/user.svg">
          <p class="nav-item nav-link">User Name</p>
          <a style="width:1% ;" href="/"><img style="width: 150%;" src="../../images/log-out.png"></a>

        </div>
      </nav>
    <!-- main -->
  
<body>
    
    <div class="container mt-5">
        <div class="title">
          <h3>Notifications</h3>
        </div>
    </div>
    <div class="alert alert-primary">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">update</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Primary Alert:</b> Good evening! You should upgrade your data today.
        </div>
    </div>

    <div class="alert alert-primary">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">update</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Primary Alert:</b> Good evening! You should upgrade your data today.
        </div>
    </div>

    <div class="alert alert-primary">
        <div class="container">
            <div class="alert-icon">
                <i class="material-icons">update</i>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
            </button>
            <b>Primary Alert:</b> Good evening! You should upgrade your data today.
        </div>
    </div>
  
   
</body>
<%- include('../templates/footer.ejs'); %>
