<%- include('../templates/header.ejs'); %>

    <body>
        <div class="container-fluid dd">
            <nav style="margin:0;" class="navbar navbar-expand-lg navbar-dark bg-trans">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                  aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarColor01">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                  </ul>
                  <a style="width: 1%;" href="/Notif"><img style="width: 100%;" src="../../images/notification.png"></a>
                  <img style="width: 1%;margin-left: 2%;" src="../../images/user.svg">
                  <p class="nav-item nav-link">User Name</p>
                  <a style="width:1% ;" href="/"><img style="width: 150%;" src="../../images/log-out.png"></a>
        
                </div>
              </nav>
            <table style="display: none;" class="table table-bordered  table-bg">
                <h1 style="color: white; text-align: center; margin-top: 30px; font-size: 50px;">Test Results</h1>
                <tbody>
                    <tr>
                        <td class="hd" scope="row">Order ID</td>
                        <td class="hd">Name</td>
                        <td class="hd">Doctor Name</td>
                        <td class="hd">Blood Group</td>
                        <td class="hd">Final Result</td>
                    </tr>

                    <tr>
                        <td scope="row">1</td>
                        <td>Ahmed Gamal</td>
                        <td>Ahmed Gamal</td>
                        <td>A+</td>
                        <td>Confirmed</td>
                    </tr>

                    <tr>
                        <td scope="row">2</td>
                        <td>Ahmed Mahmoud</td>
                        <td>Ahmed Mahmoud</td>
                        <td>A+</td>
                        <td>In Queue</td>
                        
                    </tr>

                    <tr>
                        <td scope="row">3</td>
                        <td>Omar Mohamed</td>
                        <td>Omar Mohamed</td>
                        <td>A+</td>
                        <td>In Queue</td>
                       
                    </tr>
                </tbody>
            </table>


        </div>


    </body>
    <%- include('../templates/footer.ejs'); %>